.BlogRoll {
  &-container {
    @media (min-width: $portable) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }
  }

  &-image {
    padding-bottom: 1rem;
  }

  &-article {
    @media (min-width: $portable) {
      display: inline-block;
      vertical-align: top;
      // margin-left: 1rem;
      // margin-right: 1rem;
      width: calc(50% - 2rem);
      height: 100%;
    }
  }
}
