.BlogRoll {
  &-container {
    @media (min-width: $portable) {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }
  }

  &-image {
    padding-bottom: 1rem;
  }

  &-article {
    @media (min-width: $portable) {
      display: inline-block;
      flex: 0 0 1;
      flex-basis: auto;
      vertical-align: top;
      width: calc(50% - 2.5rem);
      height: 100%;
      margin-right: $container-padding;
      margin-left: $container-padding;
    }
  }
}
