.BlogCta {
  padding: 2rem $container-padding;
  //   border: 1px solid $blue;
  //   border-bottom: 1px solid $blue;
  margin-top: 2rem;
  background-color: $platinum;
  text-align: center;

  .Form {
    justify-content: center;
  }
}
