.Footer {
  padding-top: $vertical-spacing;
  padding-bottom: 5.625rem;
  background-color: $smoke;
  color: $platinum;

  @media (min-width: $tablet) {
    padding-bottom: $vertical-spacing;
  }

  a {
    color: $platinum;
    text-decoration: none;
    transition: color 0.25s ease-out;

    @media (any-hover: hover) {
      &:hover {
        color: $blue;
      }
    }
  }

  &-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-item {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--socialIcon {
      display: inline-block;
      margin-right: 1.5rem;
      padding-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .SocialIcon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $platinum;
    transition: fill 0.25s ease-out;

    @media (any-hover: hover) {
      &:hover {
        fill: $blue;
      }
    }
  }
}
