form {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.SubscribeForm {
  background: $platinum;
  padding: $vertical-spacing 0;
}

.SubscribeForm,
.Form {
  &-email,
  &-submit {
    min-height: 37px;
    width: 100%;
    border-radius: 0;
    border: 1px solid $blue;

    @media (min-width: $tablet) {
      width: auto;
    }
  }

  &-email {
    padding: 0.5rem;
    margin: 0 0 1rem;
    background-color: $white;

    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &-submit {
    padding: 0.5rem 1.5rem;
    border: 1px solid $blue;
    background-color: $blue;
    color: $platinum;
    transition: background-color 0.25s ease-out;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        background-color: $dark-blue;
      }
    }
  }

  &-success,
  &-error {
    padding-top: 1rem;
  }

  &-error {
    color: $red;
  }

  .birthday {
    display: none;
  }
}
