.Card {
  background-color: $white;
  padding: $vertical-spacing--small;
  margin-bottom: $vertical-spacing;
  border-top: 0.5rem solid $smoke;
  box-shadow: $card-depth;

  &:last-child {
    margin-bottom: 0;
  }
}
