.HomePage {
  padding-top: 0;

  @media (min-width: $tablet) {
    padding-top: $vertical-spacing--small;
  }
}

section {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $smoke;

  @media (min-width: $tablet) {
    // min-height: $viewport-height-minus-navigation;
  }
}

.Hero {
  background-color: $white;
  text-align: center;

  &-container {
    max-width: 800px;
    padding: $vertical-spacing 1.25rem;
  }

  &-image {
    padding-bottom: 1rem;

    @media (min-width: $portable) {
      max-width: 70%;
      padding-bottom: 2rem;
      margin: 0 auto;
    }
  }

  &-heading {
    font-size: 9.5vw;

    @media (min-width: $tablet) {
      font-size: 2.5rem;
    }
  }

  &-subheading {
    padding-bottom: 2rem;
  }

  &-cta {
    padding: 2rem;
    border-top: 0.5rem solid $smoke;
    box-shadow: $card-depth;
  }

  &-callout {
    font-size: 1.25rem;
    line-height: 1.5;

    @media (min-width: $portable) {
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .Form {
    justify-content: center;
  }
}

.Products {
  padding: $vertical-spacing 0;
  background: $smoke;
  color: $white;

  &-intro {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &-list {
    @media (min-width: $portable) {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }
  }

  .Product {
    background: $platinum;
    box-shadow: $card-depth;
    color: $smoke;
    margin-bottom: 1rem;
    padding: 1rem;

    @media (min-width: $portable) {
      display: inline-block;
      flex: 0 0 1;
      flex-basis: auto;
      vertical-align: top;
      width: calc(50% - 2.5rem);
      height: 100%;
      margin-right: $container-padding;
      margin-left: $container-padding;
    }

    a {
      display: inline-block;
      padding: 0.5rem 1.25rem;
      text-decoration: none;
      color: $platinum;
      background: $blue;
      font-weight: 900;
      font-size: 105%;
      transition: all 0.2s ease-out;

      @media (any-hover: hover) {
        &:hover {
          background: $dark-blue;
        }
      }
    }
  }
}

.About {
  padding: $vertical-spacing 0;
  background-color: $platinum;

  &-content {
    @media (min-width: $portable) {
      max-width: 50%;
      margin-left: auto;
    }
  }
}

.BlogRoll {
  &-section {
    padding-top: $vertical-spacing;
  }
}
