// vendor
@import 'vendor/normalize';

// base styles
@import 'base/reset';
@import 'base/colors';
@import 'base/breakpoints';
@import 'base/spacing';
@import 'base/typography';
@import 'base/container';

$card-depth: 0 9px 20px -3px rgba(40, 40, 60, 0.15);
$viewport-height-minus-navigation: calc(100vh - 82px);
$container-padding: 1.25rem;
// utilities and helpers
@import 'utilities';

// components
@import 'components/navigation';
@import 'components/mobile-nav';
@import 'components/main';
@import 'components/footer';
@import 'components/blog-roll';
@import 'components/blog-cta';
@import 'components/subscribe-form';
@import 'components/tags';

// pages
@import 'pages/home';
