@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono&display=swap');

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Roboto Mono', monospace;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  // handle spacing with padding, not margin
  margin: 0;
  padding-bottom: 1rem;
}

body,
p,
.copy {
  font-family: 'Lato', sans-serif;
}

a {
  color: $black;
  transition: color 0.25s ease-out;

  @media (any-hover: hover) {
    &:hover {
      color: $blue;
    }
  }
}

blockquote {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: $smoke;
  color: $platinum;
  font-size: 1.25rem;
  line-height: 1.55;
  font-style: italic;

  @media (min-width: $portable) {
    width: 80%;
  }

  p {
    padding: 0;
  }
}
